@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.imdb-trending-movies-carausel .swiper-button-prev {
  background-color: rgba(20, 20, 20, 0.8);
  padding: 2rem 1.5rem;
  left: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.imdb-trending-movies-carausel .swiper-button-next {
  background-color: rgba(20, 20, 20, 0.8);
  padding: 2rem 1.5rem;
  right: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.imdb-trending-movies-carausel .swiper-button-prev:after,
.imdb-trending-movies-carausel .swiper-button-next:after {
  font-size: 25px !important;
  font-weight: 700;
}

.top-arrows .swiper-button-next,
.top-arrows .swiper-button-prev {
  top: 150px !important;
}

.video-carausel .swiper-button-next,
.video-carausel .swiper-button-prev {
  color: #fff !important;
}
